Repository MtBlue81/release-flow-sample, changes with the labels that .github/labeler.yml gives for each.
All labels: package-a, package-b

release drafter準備
  .github/release-drafter-base.yml
  .github/release-drafter-package-a.yml
  .github/release-drafter-package-b.yml
  .github/workflows/release-drafter.yml
Labels: none

パッケージAのREADMEを追加
  packages/package-a/README.md
Labels: package-a

両方のREADMEを更新
  packages/package-a/README.md
  packages/package-b/README.md
Labels: package-a, package-b

package a更新
  packages/package-a/README.md
Labels: package-a

cherry-pick用更新
  packages/package-a/README.md
Labels: package-a

Merge pull request #4 from MtBlue81/cherry-pick-test
  packages/package-a/README.md
Labels: package-a

package a更新
  packages/package-a/README.md
Labels: package-a

hotfix package a
  packages/package-a/README.md
Labels: package-a

Merge pull request #6 from MtBlue81/hotfix-package-a
  packages/package-a/README.md
Labels: package-a

両方更新2nd
  packages/package-a/README.md
  packages/package-b/README.md
Labels: package-a, package-b

deployワークフローを追加
  .github/workflows/deploy.yml
Labels: none

名前付けを調整
  .github/release-drafter-base.yml
  .github/release-drafter-package-a.yml
  .github/release-drafter-package-b.yml
Labels: none

mainを指定
  .github/workflows/release-drafter.yml
Labels: none

releas時に同期させたい
  .github/workflows/release-drafter.yml
Labels: none

releas時に同期させたい
  .github/workflows/release-drafter.yml
Labels: none

edit時のdeployはなし
  .github/workflows/deploy.yml
Labels: none

deployワークフロー調整
  .github/workflows/deploy.yml
Labels: none

pacakge aの更新3
  packages/package-a/README.md
Labels: package-a

pacakge aの更新4
  packages/package-a/README.md
Labels: package-a

pacakge bの更新3
  packages/package-b/README.md
Labels: package-b

pacakge bのhotfix 1
  packages/package-b/README.md
Labels: package-b

Merge pull request #13 from MtBlue81/hotfix-package-b
  packages/package-b/README.md
Labels: package-b

logを仕込む
  .github/workflows/deploy.yml
Labels: none

deployタイミングをファイルごとわける
  .github/workflows/deploy.yml
  .github/workflows/prodution-deploy.yml
  .github/workflows/staging-deploy.yml
Labels: none

package bの更新4
  packages/package-b/README.md
Labels: package-b

fix
  .github/workflows/release-drafter.yml
Labels: none

package aの更新5
  packages/package-a/README.md
Labels: package-a

package aのhotfix2
  packages/package-a/README.md
Labels: package-a

Merge pull request #16 from MtBlue81/hotfix-package-a-2
  packages/package-a/README.md
Labels: package-a

package aの更新6
  packages/package-a/README.md
Labels: package-a

hotfix package a 3
  packages/package-a/README.md
Labels: package-a

Merge pull request #18 from MtBlue81/hotfix-package-a-3
  packages/package-a/README.md
Labels: package-a

fix
  .github/workflows/prodution-deploy.yml
Labels: none

hotfix workflow
  .github/workflows/hotfix.yml
Labels: none

.github/labeler.yml:

package-a:
  - packages/package-a/**/*
package-b:
  - packages/package-b/**/*
